<h1>Stupid Coaching</h1>

<p>Ask your coach anything</p>

<form class ="form-inline" action="/answer" method="get">
  <input class="form-control" type="text" name="question" placeholder="Don't be scared...">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
