// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.output {
  border-left: rgb(175, 173, 173);
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 10px;
  margin-right: 150px;
}

h1 {
  padding-bottom: 20px;
}

.coach {
  background-color: rgb(250, 250, 225);
}
